{% extends base_template %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
            财务管理>采购帐管理
             <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" class="widget-refresh-option">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="#" class="widget-remove-option">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>
        <div class="smart-widget-inner">
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
					<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
					<li style="background-color:#2baab1;" data-color="widget-green"></li>
					<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
					<li style="background-color:#fbc852;" data-color="widget-orange"></li>
					<li style="background-color:#e36159;" data-color="widget-red"></li>
					<li style="background-color:#7266ba;" data-color="widget-purple"></li>
					<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
					<li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <div class="smart-widget-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>供应商</th>
                        <th>时间</th>
                        <th>总额</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in caigouzhanglist %}
                        <tr id="{{ i.id }}">
                            <td>{{ i.id }}</td>
                            <td>{{ i.supplier }}</td>
                            <td>{{ i.time|date:"Y-m-d H:i" }}</td>
                            <td>{{ i.total }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->


    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script type="text/javascript">
        $(".modal").draggable();
    </script>
{% endblock %}