{% extends base_template %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
            客户>订单管理
            <span class="smart-widget-option">
                <button data-target="#addorder" data-toggle="modal" class="btn btn-info btn-sm">添加订单</button>

                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" class="widget-refresh-option">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="#" class="widget-remove-option">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>
        <div class="smart-widget-inner">
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
					<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
					<li style="background-color:#2baab1;" data-color="widget-green"></li>
					<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
					<li style="background-color:#fbc852;" data-color="widget-orange"></li>
					<li style="background-color:#e36159;" data-color="widget-red"></li>
					<li style="background-color:#7266ba;" data-color="widget-purple"></li>
					<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
					<li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <!-- addorder -->
            <div class="modal fade" id="addorder">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">添加订单</h4>
                        </div>
                        <div class="modal-body">
                            <form  id='orderaddform' class="form-horizontal">
                            <input type="hidden" name = "username"  value = {{ username }}>
                            <input type="hidden" name = "rows"  value = 1>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="customername">收货人姓名</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="shouhuoname"  name="shouhuoname" placeholder="请输入收货人姓名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="customeraddress">收货地址</label>
                                    <div class="col-sm-8">
                                        <input  class="form-control" id="customeraddress" name="customeraddress" placeholder="请输入收货地址">
                                    </div>
                                </div>
                                <hr>
                                <table id="product" class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>产品名称</th>
                                            <th>产品数量</th>
                                            <th>操作<th>
                                        </tr>
                                    </thead>
                                    <tbody id = "productbody">
                                        <tr >
                                            <td>
                                                <select  id="productname0" class="form-control">
                                                    {% for i in productlist %}
                                                        <option value = {{ i }}>{{ i }} </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input  class="form-control" id="productnum0" placeholder="请输入数量">
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div  class="fa fa-plus-circle fa-lg" style="margin-left: 30px"> </div>
                                                    <div  class="fa fa-minus-circle fa-lg" style="margin-left: 50px"> </div>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <iframe id="id_iframe" name="id_iframe" style="display: none;">
                            </iframe>
                        </div>
                        <div class="modal-footer">
                            <button id="addproduct" type="button" class="btn btn-success">添加</button>
                        </div>
                    </div>
                </div>
            </div>
             <!-- orderdetail -->
            <div class="modal fade" id="orderdetail">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">订单详情</h4>
                        </div>
                        <div class="modal-body">
                            <table id="orderdetailtable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>产品名称</th>
                                        <th>产品数量</th>
                                    </tr>
                                </thead>
                                <tbody id = "orderdetailbody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="smart-widget-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>添加人员</th>
                        <th>顾客姓名</th>
                        <th>收货地址</th>
                        <th>下单时间</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in saleslist %}
                        <tr id="{{ i.id }}">
                            <td>{{ i.id }}</td>
                            <td>{{ i.user }}</td>
                            <td>{{ i.customername }}</td>
                            <td>{{ i.receaddress }}</td>
                            <td>{{ i.ordertime|date:"Y-m-d H:i" }}</td>
                            <td>{{ i.status }}</td>
                            <td>
                                <button class="btn btn-info btn-xs xiangqing">详情</button>
                                <button class="btn btn-info btn-xs del">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->
    </div><!-- ./padding-md -->
    </div><!-- /main-container -->
    <footer class="footer">
        <span class="footer-brand">
            <strong class="text-danger">Simplify</strong> Admin
        </span>
        <p class="no-margin">
            &copy; 2014 <strong>Simplify Admin</strong>. ALL Rights Reserved.
        </p>
    </footer>
    </div><!-- /wrapper -->

    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script type="text/javascript">
        $(".modal").draggable();

     $('#productbody').delegate('.fa-plus-circle','click',function(){
        var rows = $("#product").find('tr').length-1;
        $('#productbody').append(
            '<tr>'+
            '<td>'+
                '<select id="productname'+rows+'" class="form-control">'+
                '{% for i in productlist %}'+
                    '<option value = {{ i }}>'+'{{ i }}'+'</option>'+
                '{% endfor %}'+
                '</select>'+
            '</td>'+
            '<td>'+
                '<input type="text" id="productnum'+rows+'" class="form-control" placeholder="请输入数量">'+
            '</td>'+
            '<td>'+
                '<div class="form-group">' +
                    '<div  class="fa fa-plus-circle fa-lg" style="margin-left: 30px"> </div> ' +
                    '<div  class="fa fa-minus-circle fa-lg" style="margin-left: 50px"> </div> ' +
                '</div>'+
            '</td>'+
            '</tr>');
        $('input[name="rows"]').val(rows+1);

    });
    $('#productbody').delegate('.fa-minus-circle','click',function(){
        var rows = $("#product").find('tr').length;
        if(rows>2){
            $(this).parents('tr').remove();
            $('input[name="rows"]').val(rows-1);


            $('#product').find('tr').each(function () {
                var index = $(this).index();
                $(this).find('select').attr('id','productname'+index);
                $(this).find('input').attr('id','productnum'+index);
            })
        }
    });
    $('#addproduct').on('click',function () {
        data={};
        data['rows'] = $('input[name = "rows"]').val();
        data['shouhuoname'] =$('#shouhuoname').val();
        data['customeraddress'] = $('#customeraddress').val();
        var i = 0;
        $('#product').find('tr').each(function(){
            var proname = 'productname'+ i;
            var pronum = 'productnum'+i;
            data[proname]=$('#'+proname).val();
            data[pronum] =$('#'+pronum).val();
            i+=1;
        });

        $.ajax({
                url: '/pools/customer_addorder',
                type: 'POST',
                data: data,
                dataType: 'json',
                timeout: 10000,
                success: function (data) {
                    if (data == "post_success") {
                        window.location.reload();
                    } else {
                        alert('操作未成功');
                    }
                }
            });
    });
    $('.del').on('click',function(){
        var r=confirm("警告：您确定要删除此订单吗？（此操作不可恢复）");
        if (r==true) {
            var tr = $(this).parents("tr");
            var id = tr.attr("id");
            $.ajax({
                url: '/pools/sales_delorder',
                type: 'POST',
                data: {id: id},
                dataType: 'json',
                timeout: 10000,
                success: function (data) {
                    if (data.result == "post_success") {
                        document.getElementById(data.id).remove();
                    } else {
                        alert('删除未成功');
                    }
                }
            });
        }

    });
    $('.xiangqing').on('click',function () {
        var id = $(this).parents("tr").attr("id");
        console.log("111111");
        $.ajax({
            url: '/pools/sales_orderdetail',
            type: 'POST',
            data: {id: id},
            dataType: 'json',
            timeout: 10000,
            success: function (data) {
                if (data.result == "post_success") {
                    var detail = data.detail;
                    $('#orderdetailbody').html("");
                    var str = "";
                    for (i in detail){
                        str+="<tr><td>"+ detail[i].id+"</td><td>"+detail[i].name+"</td><td>"+detail[i].num+"</td></tr>"
                    }
                    $('#orderdetailbody').append(str);
                    $("#orderdetail").modal()


                } else {
                    alert('操作未成功');
                }
            }
        })

    });
    </script>
{% endblock %}