{% extends base_template %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
            库存管理>产品管理
             <span class="smart-widget-option">
                <button data-target="#addproduct" data-toggle="modal" class="btn btn-info btn-sm">添加产品</button>
                 <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" class="widget-refresh-option">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="#" class="widget-remove-option">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>

            <!-- addproduct-->
		<div class="modal fade" id="addproduct" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">添加新产品</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='productaddform' method="post" role="form" class="form-horizontal">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="productname">产品名称</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="productname" placeholder="请输入产品名称">
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="productsize">产品规格</label>
                                 <div class="col-sm-8">
                                     <input  class="form-control" id="productsize" placeholder="请输入产品规格">
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="stock">现有库存</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="stock" placeholder="请输入现有库存">
                                </div>
				  			</div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="safestock">安全库存</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="safestock" placeholder="请输入安全库存">
                                </div>
				  			</div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="salesprice">销售价格</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="salesprice" placeholder="请输入销售价格">
                                </div>
				  			</div>

		        		</form>
                        <a id='addproduct'class="btn btn-danger block m-top-md">添加</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <!-- modiproduct-->
		<div class="modal fade" id="modiproduct" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">修改产品信息</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='productaddform' method="post" role="form" class="form-horizontal">
                            <input id="modid" type="hidden">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="productname">产品名称</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="modproductname" placeholder="请输入产品名称">
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="productsize">产品规格</label>
                                 <div class="col-sm-8">
                                     <input  class="form-control" id="modproductsize" placeholder="请输入产品规格">
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="stock">现有库存</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="modstock" placeholder="请输入现有库存">
                                </div>
				  			</div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="safestock">安全库存</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="modsafestock" placeholder="请输入安全库存">
                                </div>
				  			</div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="salesprice">销售价格</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="modsalesprice" placeholder="请输入销售价格">
                                </div>
				  			</div>

		        		</form>
                        <a id='modproduct'class="btn btn-danger block m-top-md">修改</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <!-- purchasenoti-->
		<div class="modal fade" id="purchasenoti" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">开订货通知单</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form   method="post" role="form" class="form-horizontal">
                            <input id="productid" type="hidden">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="productname">产品名称</label>
                                <div class="col-sm-8">
                                    <label class="control-label "  style="font-weight: lighter" id="productnamenoti">产品名称</label>
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="productsize">产品规格</label>
                                 <div class="col-sm-8">
                                     <label class="control-label" style="font-weight: lighter" id="productsizenoti">产品规格</label>
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="stock">数量</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="numnoti" placeholder="请输入数量">
                                </div>
				  			</div>
		        		</form>
                        <a id='ordernotiok'class="btn btn-danger block m-top-md">确认</a>
		      		</div>
		    	</div>
		  	</div>
		</div>

        <div class="smart-widget-inner">
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
					<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
					<li style="background-color:#2baab1;" data-color="widget-green"></li>
					<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
					<li style="background-color:#fbc852;" data-color="widget-orange"></li>
					<li style="background-color:#e36159;" data-color="widget-red"></li>
					<li style="background-color:#7266ba;" data-color="widget-purple"></li>
					<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
					<li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <div class="smart-widget-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品规格</th>
                        <th>现有库存</th>
                        <th>安全库存</th>
                        <th>销售价格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="productformbody">
                    {% for i in productlist %}
                        <tr id="{{ i.id }}">
                            <td>{{ i.id }}</td>
                            <td>{{ i.productname }}</td>
                            <td>{{ i.productsize }}</td>
                            <td>{{ i.stock }}</td>
                            <td>{{ i.safestock }}</td>
                            <td>{{ i.salesprice }}</td>
                            <td>
                            <button class="btn btn-info btn-xs xiugai">修改</button>
                            <button class="btn btn-info btn-xs del">删除</button>
                                <button class="btn btn-info btn-xs ordernotify">订货通知</button>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->


    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
     <script type="text/javascript">
         $(".modal").draggable();

         $(document).ready(function(){
             $('#productformbody').find('tr').each(function () {
                 stock = $(this).children('td').eq(3).html();
                 safestock = $(this).children('td').eq(4).html();
                 console.log(stock,safestock);
                 if(parseInt(stock) < parseInt(safestock)){
                     console.log($(this));
                     $(this).css('background-color','#CCFF99');
                 }

             });
         });



         $('#addproduct').on('click',function(){
            var productname = $('#productname').val();
            var productsize = $('#productsize').val();
            var stock = $('#stock').val();
            var safestock = $('#safestock').val();
            var salesprice = $('#salesprice').val();
            if(productname==''){
                $("#productname").focus();
            }else if(productsize==''){
                $("#productsize").focus();
            }else if(stock==''){
                $("#stock").focus();
            }else if(safestock=='') {
                $("#safestock").focus();
            }else if(salesprice=='') {
                $("#salesprice").focus();
            }else{
                var data = {};
                data['productname']=productname;
                data['productsize']=productsize;
                data['stock']=stock;
                data['safestock']=safestock;
                data['salesprice']=salesprice;
                $.ajax({
                    url: '/pools/kucun_chanpinguanli',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(result) {
                        if ( result == "post_success" ) {
                            window.location.reload();
                        }else {
                            alert('未成功');
                        }
                    }
                })
            }
         });
         $('.xiugai').on('click',function (){
            var tr = $(this).parents("tr");
            var id = tr.attr("id");
            var productname = tr.children("td").eq(1).text();
            var productsize = tr.children("td").eq(2).text();
            var stock = tr.children("td").eq(3).text();
            var safestock = tr.children("td").eq(4).text();
            var salesprice = tr.children("td").eq(5).text();

            $('#modproductname').val(productname);
            $('#modproductsize').val(productsize);
            $('#modstock').val(stock);
            $('#modsafestock').val(safestock);
            $('#modsalesprice').val(salesprice);
            $("#modid").val(id);
            $("#modiproduct").modal();
        });
        $('#modproduct').on('click',function () {
            var productname = $('#modproductname').val();
            var productsize = $('#modproductsize').val();
            var stock = $('#modstock').val();
            var safestock = $('#modsafestock').val();
            var salesprice = $('#modsalesprice').val();
            if(productname==''){
                $("#modproductname").focus();
            }else if(productsize==''){
                $("#modproductsize").focus();
            }else if(stock==''){
                $("#modstock").focus();
            }else if(safestock=='') {
                $("#modsafestock").focus();
            }else if(salesprice==''){
                $("#modsalesprice").focus();
            }else{
                            console.log("keyile");

                var data = {};
                data['id'] = $("#modid").val();
                data['productname']=productname;
                data['productsize']=productsize;
                data['stock']=stock;
                data['safestock']=safestock;
                data['salesprice']=salesprice;
                $.ajax({
                    url: '/pools/kucun_productmodify',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result == "post_success") {
                            window.location.reload();
                        } else {
                            alert('修改未成功');
                        }
                    }
                })
            }
        });
        $('.del').on('click',function () {
            var r=confirm("警告：您确定要删除此产品吗？（此操作不可恢复）");
            if (r==true) {
                var tr = $(this).parents("tr");
                var id = tr.attr("id");
                $.ajax({
                    url: '/pools/kucun_productdel',
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result.result == "post_success") {
                            document.getElementById(result.id).remove();
                        } else {
                            alert('删除未成功');
                        }
                    }
                });
            }

        });


     $('.ordernotify').on('click',function () {
            var tr = $(this).parents("tr");
            var id = tr.attr("id");
            $('#productid').val(id);
            var productname = tr.children('td').eq(1).text();
            var productsize = tr.children('td').eq(2).text();
            console.log(productname,productsize);
            $('#productnamenoti').html(productname);
            $('#productsizenoti').html(productsize);
            $('#purchasenoti').modal();
     });
         $('#ordernotiok').on('click',function () {
             var id = $('#productid').val();
             var num = $('#numnoti').val();
             var data={};
             data['id'] = id;
             data['num'] = num;
              $.ajax({
                    url: '/pools/kucun_againpurchasenotice',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result == "post_success") {
                            $('#purchasenoti').modal('hide');
                            alert('添加成功');
                        } else {
                            alert('删除未成功');
                        }
                    }
                });

     });

</script>
{% endblock %}