{% extends base_template %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
            库存管理>发货单管理
             <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" class="widget-refresh-option">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="#" class="widget-remove-option">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>
        <div class="smart-widget-inner">
            <!-- fahuodandetail -->
            <div class="modal fade" id="fahuodetailmodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">发货单详情</h4>
                        </div>
                        <div class="modal-body">
                            <form  method="post" role="form" class="form-horizontal">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="suppliername">客户名称</label>
                                <div class="col-sm-8" >
                                    <label class="control-label" style="font-weight: lighter" id="customername" ></label>
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="linkman">收货人</label>
                                 <div class="col-sm-8">
                                     <label class="control-label" style="font-weight: lighter" id="receiver" ></label>
                                 </div>
                            </div>
                            <div class="form-group"><label class="control-label col-sm-3" for="address">收货地址</label>
                                <div class="col-sm-8">
                                    <label class="control-label" style="font-weight: lighter" id="address" ></label>
                                </div>
				  			</div>
                                <hr>
                                <table id="fahuodetail" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>产品名称</th>
                                        <th>产品数量</th>
                                    </tr>
                                </thead>
                                <tbody id = "fahuodetailbody">

                                </tbody>
                            </table>

		        		</form>


                        </div>
                    </div>
                </div>
            </div>
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
					<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
					<li style="background-color:#2baab1;" data-color="widget-green"></li>
					<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
					<li style="background-color:#fbc852;" data-color="widget-orange"></li>
					<li style="background-color:#e36159;" data-color="widget-red"></li>
					<li style="background-color:#7266ba;" data-color="widget-purple"></li>
					<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
					<li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <div class="smart-widget-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>发货单编号</th>
                        <th>客户名称</th>
                        <th>发货时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in fahuodanlist %}
                        <tr id="{{ i.id }}">
                            <td>{{ i.id }}</td>
                            <td>{{ i.customer }}</td>
                            <td>{{ i.time|date:"Y-m-d" }}</td>
                            <td>{{ i.status }}</td>
                            <td>
                            <button class="btn btn-info btn-xs detail">详情</button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->
    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
     <script type="text/javascript">
        $(".modal").draggable();

      $('.detail').on('click',function () {
        var id = $(this).parents("tr").attr("id");
        $.ajax({
            url: '/pools/kucun_fahuodanguanli',
            type: 'POST',
            data: {id: id},
            dataType: 'json',
            timeout: 10000,
            success: function (data) {
                if (data.result == "post_success") {
                    $('#customername').html(data.customer);
                    $('#receiver').html(data.receiver);
                    $('#address').html(data.address);
                    var detail = data.fahuodetail;
                    $('#fahuodetailbody').html("");
                    var str = "";
                    for (i in detail){
                        str+="<tr><td>"+detail[i].product+"</td><td>"+detail[i].num+"</td></tr>"
                    }
                    $('#fahuodetailbody').append(str);
                    $("#fahuodetailmodal").modal()

                } else {
                    alert('操作未成功');
                }
            }
        })

    });
     </script>

{% endblock %}