{% extends base_template %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
            库存管理>订货模型计算
             <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" class="widget-refresh-option">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="#" class="widget-remove-option">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>
        <div class="smart-widget-inner">
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
					<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
					<li style="background-color:#2baab1;" data-color="widget-green"></li>
					<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
					<li style="background-color:#fbc852;" data-color="widget-orange"></li>
					<li style="background-color:#e36159;" data-color="widget-red"></li>
					<li style="background-color:#7266ba;" data-color="widget-purple"></li>
					<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
					<li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <div class="smart-widget-body">
                     <form  id='orderaddform' class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="customername">请选择商品</label>
                                    <div class="col-sm-4">
                                         <select  id="productname" class="form-control">
                                            {% for i in productlist %}
                                                <option value = {{ i }}>{{ i }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="cost">订货成本（元/次）</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="cost"  name="cost" placeholder="请输入订货成本">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="yearprice">单位商品年保管费用（元/年）</label>
                                    <div class="col-sm-8">
                                        <input  class="form-control" id="yearprice" name="yearprice" placeholder="请输入商品年保管费用">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="eoq">最佳订货批量（个）</label>
                                    <div class="col-sm-8">
                                        <input  class="form-control" id="eoq" name="eoq" >
                                    </div>
                                </div>
                                <hr>
                         <button id="compute" type="button" class="btn btn-success">计算</button>
                     </form>
            </div>
        </div>
    </div><!-- ./smart-widget-inner -->


    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script type="text/javascript">
        $(".modal").draggable();
        $('#compute').on('click',function () {
            data = {};

            var cost = $('#cost').val();
            var yearprice = $('#yearprice').val();
            var product = $('#productname').val();

            if(cost==''){
                $("#cost").focus();
            }else if(yearprice==''){
                $("#yearprice").focus();
            }else {
                var data = {};
                data['product'] = product;
                data['cost'] = cost;
                data['yearprice'] = yearprice;
                $.ajax({
                    url: '/pools/eoq',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (data) {
                        if (data.result == "post_success") {
                            $('#eoq').val(data.eoq);
                        } else {
                            alert('未成功');
                        }
                    }
                });

            }
        })

    </script>

{% endblock %}